<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.onlineshop.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="p_number" jdbcType="INTEGER" property="pNumber" />
    <result column="p_countRMB" jdbcType="DOUBLE" property="pCountrmb" />
    <result column="order_date" jdbcType="DATE" property="orderDate" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, p_id, u_id, p_number, p_countRMB, order_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.onlineshop.pojo.Order">
    insert into order (order_id, p_id, u_id, 
      p_number, p_countRMB, order_date
      )
    values (#{orderId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, 
      #{pNumber,jdbcType=INTEGER}, #{pCountrmb,jdbcType=DOUBLE}, #{orderDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.onlineshop.pojo.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="pNumber != null">
        p_number,
      </if>
      <if test="pCountrmb != null">
        p_countRMB,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="pNumber != null">
        #{pNumber,jdbcType=INTEGER},
      </if>
      <if test="pCountrmb != null">
        #{pCountrmb,jdbcType=DOUBLE},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshop.pojo.Order">
    update order
    <set>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="pNumber != null">
        p_number = #{pNumber,jdbcType=INTEGER},
      </if>
      <if test="pCountrmb != null">
        p_countRMB = #{pCountrmb,jdbcType=DOUBLE},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=DATE},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshop.pojo.Order">
    update order
    set p_id = #{pId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      p_number = #{pNumber,jdbcType=INTEGER},
      p_countRMB = #{pCountrmb,jdbcType=DOUBLE},
      order_date = #{orderDate,jdbcType=DATE}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>