<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.onlineshop.pojo.Product">
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_price" jdbcType="DOUBLE" property="pPrice" />
    <result column="p_number" jdbcType="INTEGER" property="pNumber" />
    <result column="p_imgname" jdbcType="VARCHAR" property="pImgname" />
  </resultMap>
  <!-- id="写上接口的方法名称" -->
  <select id="getProducts" resultMap="BaseResultMap">
  select * from product
  </select>
  <select id="getPrice" resultType="java.lang.Double">
  select p_price from product where name=#{pName}
  
  </select>
  <sql id="Base_Column_List">
    p_id, p_name, p_price, p_number, p_imgname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.onlineshop.pojo.Product">
    insert into product (p_id, p_name, p_price, 
      p_number, p_imgname)
    values (#{pId,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{pPrice,jdbcType=DOUBLE}, 
      #{pNumber,jdbcType=INTEGER}, #{pImgname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.onlineshop.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="pPrice != null">
        p_price,
      </if>
      <if test="pNumber != null">
        p_number,
      </if>
      <if test="pImgname != null">
        p_imgname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pNumber != null">
        #{pNumber,jdbcType=INTEGER},
      </if>
      <if test="pImgname != null">
        #{pImgname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlineshop.pojo.Product">
    update product
    <set>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        p_price = #{pPrice,jdbcType=DOUBLE},
      </if>
      <if test="pNumber != null">
        p_number = #{pNumber,jdbcType=INTEGER},
      </if>
      <if test="pImgname != null">
        p_imgname = #{pImgname,jdbcType=VARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlineshop.pojo.Product">
    update product
    set p_name = #{pName,jdbcType=VARCHAR},
      p_price = #{pPrice,jdbcType=DOUBLE},
      p_number = #{pNumber,jdbcType=INTEGER},
      p_imgname = #{pImgname,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>